#search-container {
  height: 100vh;
}

#cant-find-text {
  color: black;
  margin: 0px;
  font-size: 15px;
  text-align: center;
}

#cant-find-text-container{
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #cdcdcd;
}


/**********************************/
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #cdcdcd;
}

/* .box .row {
  border: 1px dotted grey;
} */

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
  background-color: #cdcdcd;
}

.box .row.footer {
  flex: 0 1 40px;
}

/*****************************/

#header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  background-color: #cdcdcd;
}

#header-logo {
  margin: 30px;
  margin-right: 100px;
  background-color: #cdcdcd;
  color: #F2911B;
}

span{
  margin: 30px;
  background-color: #cdcdcd;
  font-weight: bold;
}

.clicked {
  background-color: #cdcdcd;
  color: #F2911B;
}

.no-clicked {
  background-color: #cdcdcd;
  color:black
}

Link{
  background-color: #cdcdcd;
}

/* Search bar */

#search-bar-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cdcdcd;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

#searchInput{
  border-radius: 5px;
  border: 1px solid black;
  width: 400px;
  padding: 5px;
}

/* testing */
.form-field {
  position: relative;
  display: inline-block;
}

.icon {
  position: absolute;
  right: 0;
}

.warning-404{
  background-color: #cdcdcd;
  text-align: center;
  height: 100%;
  width: 100%;
}

.warning-container{
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  padding: 0px;
  margin: 10px;
  background-color: #cdcdcd;
  align-items: center;
}

.grid-item {
  height: 100%;
  width: 200px;
  background: #FFFFFF;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 5px;
  border-radius: 5px;
}